{{>layout/header}}

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>이름</th>
        <th>도시</th>
        <th>주소</th>
        <th>우편번호</th>
    </tr>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{id}}</td>
            <td>{{username}}</td>
            <td>{{#address}}{{city}}{{/address}}</td>
            <td>{{#address}}{{street}}{{/address}}</td>
            <td>{{#address}}{{zipcode}}{{/address}}</td>
        </tr>
        {{/users}}
    </tbody>
</table>

{{>layout/footer}}