
<section class="footer-section">
    <article>

        <div> Weinabillion © 2020 - 2021. All Rights Reserved. </div>
        <div> 721 Yeongdong-daero, Gangnam-gu, Seoul, Republic of Korea.</div>
<!--        <div>서울특별시 강남구 영동대로 721 리버뷰오피스텔 807(Office)</div>-->

    </article>
</section>

<!--부트스트랩 js, jquery 추가-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>
