<!DOCTYPE HTML>
<html>
<head>
    <title>Bet Against Yourself (BAY)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<!--    &lt;!&ndash;부트스트랩 css 추가&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/base.css" />-->
<!--    css 저게 겁나 redirect 땡김 니다 -->
<!--    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>