<div class="w-navigation-menu">

    <div class="management-btn-wrap">
        <a href="javascript:window.history.back();" class="management-btn w-logo-left-arrow">
            <span class="management-text">BACK</span>
        </a>
    </div>
    <div class="management-btn-wrap">
        <a href="/rounds" style="" class="management-btn w-logo-table">
            <span class="management-text">TABLE</span>
        </a>
    </div>
    <div class="management-btn-wrap">
        <a href="/" class="management-btn main-home-btn">
            <span class="management-btn-circle selec7-logo-circle bg-img"></span>
            <span class="management-text">HOME</span>
        </a>
    </div>

    <div class="management-btn-wrap">
        <a href="#" class="management-btn w-logo-calculator">
            <span class="management-text">STATS</span>
        </a>
    </div>

</div>