
<div class="navigationContainer">

    <div class="header">
        <div class="logo"><a href="">
            <img src="https://brolik.com/images/BRO_logo.svg"></a>
        </div>

        <div class="desktop-menu">
            <div><a href="/">Home</a></div>
            <div><a href="/register">Register</a></div>
            <div><a href="/rounds/start">Start Round</a></div>
            <div><a href="/rounds">My Rounds</a></div>
            <div><a href="/rounds/latest">My Latest Round</a></div>
            <div><a href="/public/rounds">Board</a></div>
        </div>


        <div class="icon-container">
            <div id="menuicon">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
            </div>
        </div>



        <div class="mobile-menu">
            <ul class="menu">
                <li class="menu-item"><a href="/">Home</a>
                </li>
                <li class="menu-item"><a href="/register">Register</a>
                </li>
                <li class="menu-item"><a href="/rounds/start">Start Round</a>
                </li>
                <li class="menu-item"><a href="/rounds">My Rounds</a>
                </li>
                <li class="menu-item"><a href="/rounds/latest">My Latest Round</a>
                </li>
<!--                <li class="menu-item"><a href="#">Member List</a>-->
<!--                </li>-->
                <li class="menu-item"><a href="/public/rounds">Board</a>
                </li>
                <li class="menu-item"><a href="/logout">Logout</a>
                </li>
            </ul>

        </div>
    </div>

</div>
