<article>
    <nav class="navigation-wrapper">
        <ul class="nav-list">
            {{#admin}}
                <li class="nav-item"><a href="/" style="" class="">Home</a></li>
                <li class="nav-item"><a href="/mypage" style="" class="">My Activity</a></li>
                <li class="nav-item"><a href="/register" style=" " class="">Register</a></li>
                <li class="nav-item"><a href="/gallery" style="" class="">Upload to Gallery</a></li>
                <li class="nav-item"><a href="/s3basket" style="" class="">Gallery</a></li>
                <li class="nav-item"><a href="/site/create" style="" class="">Create Site</a></li>
                <li class="nav-item"><a href="/sites" style="" class="">All Sites</a></li>
                <li class="nav-item"> <a href="/users/export/pdf" style="" class="">All Users Pdf</a></li>
                <li class="nav-item"><a href="/logout" style="" class="">Logout</a></li>
                    <!--
                        <a href="/files" style="" class="">My Local Files</a>
                        <a href="/files/upload" style="" class="">upload to local dir</a>
                        <a href="/test" style="" class="">Test</a>
                        <a th:href="/messages" style="" class=" text-primary">메시지</a>
                        <a th:href="/config" style="" class=" text-primary">환경설정</a>
                    -->
            {{/admin}}

                {{#manager}}
                    <li class="nav-item"><a href="/" style="" class="">Home</a></li>
                    <li class="nav-item"><a href="/mypage" style="" class="">My Activity</a></li>
                    <li class="nav-item"><a href="/register" style="" class="">Register</a></li>
                    <li class="nav-item"><a href="/gallery" style="" class="">Upload to Gallery</a></li>
                    <li class="nav-item"><a href="/s3basket" style="" class="">Gallery</a></li>
                    <li class="nav-item"><a href="/site/create" class="">Create Site</a></li>
                    <li class="nav-item"> <a href="/sites" class="">All Sites</a></li>
                    <li class="nav-item"><a href="/users/export/pdf" class="">All Users Pdf</a></li>
                    <li class="nav-item"><a href="/logout" class="">Logout</a></li>
                {{/manager}}

                {{^admin}}
                    {{^manager}}
                        <li class="nav-item"><a href="/" style="" class=""><em>Home</em></a></li>
                        <li class="nav-item"> <a href="/mypage" style="" class=""><em>My Activity</em></a></li>
                        <li class="nav-item"> <a href="/register" style="" class=""><em>Register</em></a></li>
                        <li class="nav-item"> <a href="/site/create" style="" class=""><em>Create Site</em></a></li>
                        <li class="nav-item"><a href="/sites" style="" class=""><em>All Sites</em></a></li>
                        <li class="nav-item">   <a href="/logout" style="" class=""><em>Logout</em></a></li>
                    {{/manager}}
                {{/admin}}
            </li>
        </ul>
    </nav>
</article>

