{{>layout/header}}



<!--victory, this works, but ajax way is better thus we keep it as a reference-->
<!--<h1>Upload File</h1> <hr>
<form action="/gallery" method="post" enctype="multipart/form-data">
    title : <input type="text" name="title"> <br>
    file : <input type="file" name="file"> <br>
    <button id="uploadBtn" onclick="">upload</button>
</form> -->



<!--    jojoldu S3 image uploader / gallery post -->
<hr>

<div class="col-md-12">
    <div class="col-md-2">
        <form>
            <div class="form-group">
                <label for="img">Upload Image</label>
                Title : <input id="file_title" type="text" name="title"> <br>
                <input type="file" id="img">
            </div>
            <button type="button" class="btn btn-primary" id="btn-save">Save</button>
        </form>
    </div>
    <!--    <div class="col-md-10">-->
    <!--        <p><strong>결과 이미지입니다.</strong></p>-->
    <!--        <img src="" id="result-image">-->
    <!--    </div>-->
</div>



<!--bootstrap js, jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $('#btn-save').on('click', uploadImage);

    function uploadImage() {
        console.log('clicked')
        let fileTitle = $('#file_title').val();
        let file = $('#img')[0].files[0];
        console.log(fileTitle,'filet')
        console.log(file,'file')
        let formData = new FormData();
        if(typeof fileTitle !== '' && typeof file !== 'undefined') {

            formData.append('file', file);
            formData.append('title', fileTitle);

        } else {
            alert("Please upload Img with Title before saving");
            return false;
        }


        $.ajax({
            type: 'POST',
            url: '/gallery/upload',
            async: true,
            data: formData,
            processData: false,
            contentType: false
        }).done(function (data) {
            console.log('received data: ', data);
            window.location = "/s3basket";
            // $('#result-image').attr("src", "https://" + data);
        }).fail(function (error) {
            console.warn(error);
        });
    }


    /*{
    "readyState": 4,
    "responseText": "{\"timestamp\":\"2021-03-20T13:10:19.683+0000\",\"status\":500,\"error\":\"Internal Server Error\",\"message\":\"No message available\",\"path\":\"/gallery\"}",
    "responseJSON": {
    "timestamp": "2021-03-20T13:10:19.683+0000",
    "status": 500,
    "error": "Internal Server Error",
    "message": "No message available",
    "path": "/gallery"
    },
    "status": 500,
    "statusText": "error"
    }*/
</script>
</body>
</html>


<!--<div th:each="gallery : ${galleryList}">-->
<!--    <div style="margin-bottom: 30px">-->
<!--        <p th:inline="text">제목 : [[${gallery.title}]]</p>-->
<!--        <img th:src="${gallery.imgFullPath}" style="width: 500px; height: 300px;">-->
<!--    </div>-->

<!--    <form th:action="@{/gallery}" method="post" enctype="multipart/form-data">-->
<!--        <input type="hidden" name="id" th:value="${gallery.id}">-->
<!--        <input type="hidden" name="title" th:value="${gallery.title}">-->
<!--        <input type="hidden" name="filePath" th:value="${gallery.filePath}">-->
<!--        파일 : <input type="file" name="file"> <br>-->
<!--        <button>수정하기</button>-->
<!--    </form>-->
<!--    <hr>-->
<!--</div>-->
