{{>layout/header}}

{{>layout/nav}}

<section class="main-section">
    <article>
        <div>
            <h2>{{#name}}{{name}}, {{/name}}Welcome to <br><span> On Pedestal. </span></h2>
            <div>Search for objects and let us help you get the object whether that is an art object or a small tech device.</div>
        </div>
    </article>
    <article>
        <div>
            <h2>We sell anything that can be placed on pedestal.</h2>
            <div>Let us know what you want, and we will help you get the object.</div>
            {{#email}}{{/email}}
        </div>
    </article>

    <article>
        <a href="/items/new">
            <div>Upload Item</div>
        </a>
    </article>

    <article>
        <a href="/items">
            <div>Items</div>
        </a>
    </article>
    <article>
        <a href="/order">
            <div>Order</div>
        </a>
    </article>
    <article>
        <a href="/orders">
            <div>My Orders</div>
        </a>
    </article>
</section>

{{>layout/footer}}
