{{>layout/header}}

{{>layout/nav}}
<section class="main-section">
    <article>
        <div>
            <h1>{{#name}}{{name}} , {{/name}}Welcome to BAY</h1>
            <h1>{{#email}}{{email}}{{/email}}</h1>
        </div>
    </article>
    <article>
        <a href="">
            <div>Check Your Progress</div>
        </a>
    </article>
    <article>
        <a href="">
            <div>Submit New Goal</div>
        </a>
    </article>
</section>


{{>layout/footer}}