{{>layout/mobileHeader}}

{{>layout/mobileNavigation}}



<div class="container">

    <div class="content">
        <h5>{{#name}}{{name}}, welcome back! {{/name}}</h5>
        <h5> {{^name}}Welcome!{{/name}}</h5>

        <img src="https://images.apple.com/v/iphone/home/y/images/overview/hero-iphone-xr_large.jpg" alt="" />
        <p>Track your scores & stats online, benchmark your game and identify strengths & weaknesses on your quest to playing better golf</p>
        <p><em>- Ernest Hemingway, A Moveable Feast</em></p>

        <img src="https://images.apple.com/v/iphone/home/y/images/overview/film_large.jpg" alt="" />
        <p>We provide tournament round by round results and player round by round results, player career and performance stats, tournament and career results and statistics, charts, and reports for players</p>
        <p><em>- Ernest Hemingway, "Fathers and Sons"</em></p>

        <br>
        <h1>FIR</h1>
        <p>
            Fairways in regulation is a classic golf stat and is used to determine accuracy from the tee. Quite simply, if you hit a fairway, then you have a positive mark to add. However, while it can be a handy rough guide to see if you're above average in terms of not being wayward, FIR doesn't account for distance, so it's a statistic that needs to be caveated and balanced.
        </p>
        <p>
            That said, having a high percentage for fairways hit can't be a bad thing. In 2019, on the PGA Tour, Chez Reavie led by the way by hitting 75.72% of fairways.
        </p>

        <!-- temporary footer -->
        <br>
        <br>
        <hr>
        <div style="font-size: 0.8rem;">
            <div> Weinabillion © 2020 - 2021. All Rights Reserved. </div>
            <div> 721 Yeongdong-daero, Gangnam-gu, Seoul, Republic of Korea.</div>
        </div>
    </div>
</div>

<!--
<section class="main-section">
    <article>
        <div>
            <div>Track your scores & stats online, benchmark your game and identify strengths & weaknesses on your quest to playing better golf</div>
        </div>
    </article>
    <article>
        <div>
            <div>We provide tournament round by round results and player round by round results, player career and performance stats, tournament and career results and statistics, charts, and reports for players</div>
            <div>In recent years, Strokes Gained has become the preeminent statistic deployed on tour, divided into three distinct segments, Off-The-Tee, Approach, and Putting. Devised by Professor Mark Broadie, SG measures how a player is performing compared with other golfers in the field. </div>
        </div>
    </article>
    <article>
        <h1>FIR</h1>
        <div>
            Fairways in regulation is a classic golf stat and is used to determine accuracy from the tee. Quite simply, if you hit a fairway, then you have a positive mark to add. However, while it can be a handy rough guide to see if you're above average in terms of not being wayward, FIR doesn't account for distance, so it's a statistic that needs to be caveated and balanced.
        </div>
        <div>
            That said, having a high percentage for fairways hit can't be a bad thing. In 2019, on the PGA Tour, Chez Reavie led by the way by hitting 75.72% of fairways.
        </div>
    </article>

    <article>
        <h1>GIR</h1>
        <div>
            Greens in regulation is that other staple of golf statistics, determining whether you have found the green in requisite enough strokes to have a birdie or eagle putt. Maintaining a high percentage for this stat is a sign of consistent ball striking but doesn't account for the distance you have from the hole. Corey Conners led the PGA Tour in 2019 at 73.06%.
        </div>
    </article>

    <article>
        <h1>Proximity to Hole</h1>
        <div>
            t's one thing hitting the green, but how close are you to the hole? That will determine your likelihood of a birdie chance, or whether it's merely an adventure not to three-putt. Proximity to the hole is measured by the average distance the ball comes to rest from the hole after the player's approach. Like GIR, Corey Conners led the PGA Tour in 2019 with an average proximity of 32' 6".
        </div>
    </article>

    <article>
        <h1>Putting Average</h1>
        <div>When you eventually reach the green, how many putts do you normally take? Putting Average is a way to determine this, dividing the number of putts you have recorded with the total number of holes played. In 2019 on the PGA Tour, Jordan Spieth averaged 1.539, putting 2,189 times on 1,422 holes of golf.</div>
    </article>


    <article>
        <a href="/users">
            <div>Users List</div>
        </a>
    </article>
</section>

-->


<!--부트스트랩 js, jquery 추가-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/main/topMenuNavigation.js"></script>
</body>
</html>

