{{>layout/header}}

<h3>
    <div class="label label-info">
        Welcome, <span>{{#name}}{{name}}{{/name}} user</span>!
    </div>
</h3>

{{>layout/footer}}


<!--사실상 안쓰이고있다; 로그인 성공시 /mypage로 redirect되고있다 -->