<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>On Pedestal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- p5 libraries -->
        <script src="/js/p5/p5.min.js" type="text/javascript"></script>
        <script src="/js/p5/p5.dom.js" type="text/javascript"></script>
        <script src="/js/p5/p5.sound.min.js" type="text/javascript"></script>
        <!-- A-Frame libraries -->
        <script language="javascript" type="text/javascript" src="/js/p5/aframe.min.js"></script>
        <!-- AFrameP5 library -->
        <script language="javascript" type="text/javascript" src="/js/p5/aframep5.js"></script>

        <style>
            #VRScene {
                position:absolute;
                z-index: -999;
                left:0;
                top:0;
            }
        </style>
    </head>
    <body>

        <section>
            {{>layout/nav}}
        </section>
        <section>
            <article>
                <h1 class="text-primary">{{#useremail}}{{useremail}}{{/useremail}}</h1>
                <h1><span class="alert alert-danger"/>Welcome {{#username}}{{username}}{{/username}}</h1>
            </article>
        </section>


        <a-scene id="VRScene">

            <img src="/images/asphalt.png" id="asphalt">
            <img src="/images/stonebrick_mossy.png" id="stone">
            <img src="/images/prismarine_bricks_blue.png" id="blueStone">
            <img src="/images/stone_andesite_smooth.png" id="brick">


            <a-asset id="paperplane_obj" src="/objects/paperplane/model.obj"></a-asset>
            <a-asset id="paperplane_mtl" src="/objects/paperplane/materials.mtl"></a-asset>

            <a-assets>
            <!-- Images. -->
            <img id="city" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/city.jpg">
            <img id="city-thumb" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/thumb-city.jpg">
            </a-assets>
            <a-sky
                    id="image-360" radius="10" src="#city"
                    animation__fade="property: components.material.material.color; type: color; from: #FFF; to: #000; dur: 300; startEvents: fade"
                    animation__fadeback="property: components.material.material.color; type: color; from: #000; to: #FFF; dur: 300; startEvents: animationcomplete__fade"></a-sky>

        </a-scene>







        <!-- vr aframeP5 main js -->
        <script src="/js/main/index.js"></script>

        <!-- 부트스트랩 js, jquery 추가 -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- index.js 추가 -->
        <script src="/js/app/index.js"></script>
    </body>
</html>


