<!DOCTYPE HTML>
<html>
    <head>
        <title>Truly Yours</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


        <!-- p5 libraries -->
        <script src="/js/p5/p5.min.js" type="text/javascript"></script>
        <script src="/js/p5/p5.dom.js" type="text/javascript"></script>
        <script src="/js/p5/p5.sound.min.js" type="text/javascript"></script>
        <!-- A-Frame libraries -->
        <script language="javascript" type="text/javascript" src="/js/p5/aframe.min.js"></script>
        <!-- AFrameP5 library -->
        <script language="javascript" type="text/javascript" src="/js/p5/aframep5.js"></script>

        <style>
            #VRScene {
                position:absolute;
                z-index: -999;
                left:0;
                top:0;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row align-items-start">
                {{>layout/nav}}
                <div style="padding-top:50px;" class="col">
                    <div class="container text-center">
                        <h1 class="text-primary">{{#useremail}}{{useremail}}{{/useremail}}</h1>
                        <h1><span class="alert alert-danger"/>Welcome {{#username}}{{username}}{{/username}}</h1>
                    </div>
                </div>
            </div>
        </div>


        <a-scene id="VRScene">

            <img src="/images/asphalt.png" id="asphalt">
            <img src="/images/stonebrick_mossy.png" id="stone">
            <img src="/images/prismarine_bricks_blue.png" id="blueStone">
            <img src="/images/stone_andesite_smooth.png" id="brick">

        </a-scene>

        <!-- vr aframeP5 main js -->
        <script src="/js/main/index.js"></script>

        <!-- 부트스트랩 js, jquery 추가 -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- index.js 추가 -->
        <script src="/js/app/index.js"></script>
    </body>
</html>


