<!DOCTYPE HTML>
<html>
<head>
    <title>Round</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>

    </style>
    <!--    <link rel="stylesheet" href="/css/style.css" />-->
</head>
<body>

    <form action="/rounds" method="post">
        <input type="text" name="courseName" placeholder="88cc" />
        <button type="submit"> Save</button>
    </form>

    {{#rounds}}
        <div>{{#index}}{{.}}{{/index}} courseName:{{#courseName}}{{.}}{{/courseName}}
        </div>
    {{/rounds}}
{{>layout/footer}}
