<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Start Round</title>

    <link rel="stylesheet" href="/css/mainContainer.css">
    <link rel="stylesheet" href="/css/topMenuNavigation.css">
    <link rel="stylesheet" href="/css/bottomMenuNavigation.css">

    <style>

        :root {
            --tbl-column-width: 100px;
        }

        section.container {
            margin: 0 auto;
            margin-top: 50px;
            /*width: 980px;*/
            width: 870px;
            /*width: calc(var(--tbl-column-width) * 7);*/
            overflow: scroll;

        }

        header {
            display: flex;
            align-items: center;
            font-size: 1em;
            font-weight: 600;
            color: #222222;
            /*padding: 20px;*/
            padding-left:20px;
            padding-right:20px;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-align: center;
        }

        header .button-col {
            /*width: var(--tbl-column-width);*/
            width: 240px;
            text-align: left;
        }

        header .status-col {
            width: 145px;
        }

        header .progress-col {
            width: 190px;
        }

        header .dates-col {
            width: 150px;
        }

        header .score-col {
            width: 170px;
        }

        header .icon-col {
            width: 30px;
            text-align: right;
        }

        header button {
            color: #444444;
            outline: none;
            border: none;
            background: #d5d5d5;
            padding: 10px 20px;
            border-radius: 2.5px;
            margin-right: 20px;
            font-size: 1em;
            font-weight: 600;
        }

        header button:hover {
            cursor: pointer;
            background: #3d3d44;
        }

        header label {
            display: inline-block;
            margin: 0 20px;
            text-align: center;
        }

        header .icon-col {
            padding-right: 20px;
        }

        ul.task-items li.item {
            display: flex;
            align-items: center;
            margin: 20px 0;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        }

        ul.task-items li.item.type1 .task .icon {
            /*background: #9575cd;*/
        }

        ul.task-items li.item.type2 .task .icon {
            /*background: #f48fb1;*/
        }

        ul.task-items li.item.type3 .task .icon {
            background: #9575cd;
        }

        ul.task-items li.item.type4 .task .icon {
            background: #4FC3F7;
        }

        ul.task-items li.item .task {
            display: flex;
            align-items: center;
            /*width: var(--tbl-column-width);*/
        }

        ul.task-items li.item .task .icon {
            /*background: #bdbdbd;*/
            width: 50px;
            height: 50px;
            border-radius: 5px;

            display: flex;
            justify-content: center;
            align-items: center;

        }

        ul.task-items li.item .task .name {
            /*background: #eeeeee;*/
            margin-left: 20px;
            width: 180px;
            height: 25px;
            border-radius: 5px;

        }

        ul.task-items li.item .status {
            display: flex;
            align-items: center;
            font-size: 1em;
            color: #2e7d32;
            width: 145px;
            margin-left: 30px;
        }

        ul.task-items li.item .status .icon {
            /*background: #2e7d32;*/
            margin-right: 10px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            /*justify-content: center;*/
            /*align-items: center;*/
        }

        ul.task-items li.item .status .icon.risk {
            background: red;
        }

        ul.task-items li.item .status .icon.warning {
            background: #FFA000;
        }

        ul.task-items li.item .status .icon.off {
            background: #BF360C;
        }

        ul.task-items li.item .progress {
            width: 190px;
        }

        ul.task-items li.item .progress progress {
            display: block;
            margin-left: 0;
            -webkit-appearance: none;
            height: 12.5px;
            width: 142.5px;
        }

        ul.task-items li.item .progress progress::-webkit-progress-bar {
            background-color: #eeeeee;
            border-radius: 5px;
        }

        ul.task-items li.item .progress ::-webkit-progress-value {
            background-color: #4dd0e1;
            border-radius: 5px;
        }

        ul.task-items li.item .dates {
            width: 150px;

        }

        ul.task-items li.item .dates .bar,
        ul.task-items li.item .score .bar {
            background: #eeeeee;
            width: 100px;
            height: 25px;
            border-radius: 15px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul.task-items li.item .score {
            width: 144.5px;

        }

        ul.task-items li.item .score .bar {
            background: #ffcdd2;

        }

        ul.task-items li.item .user {
            width: 30px;
        }

        ul.task-items li.item .user img {
            border-radius: 50%;
        }


    </style>
</head>

<body>

<div class="navigationContainer">

    <div class="header">
        <div class="logo"><a href="">
            <img src="https://brolik.com/images/BRO_logo.svg"></a>
        </div>

        <div class="icon-container">
            <div id="menuicon">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
            </div>
        </div>
        <div class="mobile-menu">
            <ul class="menu">
                <li class="menu-item"><a href="/">Home</a>
                </li>
                <li class="menu-item"><a href="/register">Register</a>
                </li>
                <li class="menu-item"><a href="/rounds/start">Start Round</a>
                </li>
                <li class="menu-item"><a href="/rounds">My Rounds</a>
                </li>
                <li class="menu-item"><a href="/rounds/latest">My Latest Round</a>
                </li>
                <li class="menu-item"><a href="/">Support</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="container">

    <div class="content">
         <img src="https://images.apple.com/v/iphone/home/y/images/overview/hero-iphone-xr_large.jpg" alt="" />

        <article style="overflow-x:scroll; width:100%;">
            <section class="container">

                <!-- Header Bar -->
                <header>
                    <div class="button-col">
                        <a href="/rounds/start"><button class="btn" name="Start Round">Start Round </button></a>
                    </div>

                    <div class="status-col">
                        <label> Status </label>
                    </div>

                    <div class="progress-col">
                        <label> Progress </label>
                    </div>

                    <div class="dates-col">
                        <label> Dates </label>
                    </div>

                    <div class="score-col">
                        <label> Score </label>
                    </div>

<!--                    <div class="icon-col">-->
<!--                        <i class="icon fa fa-user-o"> </i>-->
<!--                    </div>-->

                </header>

                <!-- List Items -->
                <ul class="task-items">

                    <!-- List Item -->
                    {{#rounds}}
                        <li class="item type1">
                            <div class="task">
                                <!-- image icon -->

                                <div class="icon"> <a href="/rounds/{{#roundId}}{{.}}{{/roundId}}"> {{#index}}{{.}}{{/index}} </a> </div>
                                <div class="name" style="width:150px"><a href="/rounds/{{#roundId}}{{.}}{{/roundId}}"> {{#courseName}}{{.}}{{/courseName}}</a></div>
                            </div>

                            <div class="status">
                                <div class="icon off"> </div>
                                <div class="text"> Playing </div>
                            </div>

                            <div class="progress">
                                <progress {{#percentage}}value="{{.}}"{{/percentage}} max="100" {{^percentage}}value="0"{{/percentage}}/>
                            </div>

                            <div class="dates">
                                <div class="bar">{{#formattedDate}}{{.}}{{/formattedDate}}</div>
                            </div>

                            <div class="score">
                                <div class="bar">{{#score}}{{.}}{{/score}} {{^score}}0{{/score}}</div>
                            </div>

<!--                            <div class="user">-->
<!--                                <img src="https://source.unsplash.com/40x40/?indian" alt="Image 001"-->
<!--                                     class="owner-img" />-->
<!--                            </div>-->
                        </li>

                    {{/rounds}}




                </ul>

            </section>

        </article>

        <br>
        <br>
    </div>
</div>

<div class="w-navigation-menu">

    <div class="management-btn-wrap">
        <a href="javascript:window.history.back()" class="management-btn w-logo-left-arrow">
            <span class="management-text">BACK</span>
        </a>
    </div>
    <div class="management-btn-wrap">
        <a href="/rounds" style="" class="management-btn w-logo-list">
            <span class="management-text">LIST</span>
        </a>
    </div>
    <div class="management-btn-wrap">
        <a href="/" class="management-btn main-home-btn">
            <span class="management-btn-circle selec7-logo-circle bg-img"></span>
            <span class="management-text">HOME</span>
        </a>
    </div>


</div>




<!--index.js 추가-->
<script src="/js/main/topMenuNavigation.js"></script>
</body>

</html>