
    :root {
        --menu-top-height: 55px;
        --container-width: 375px;
        --container-height: 600px;
    }


    @import url(https://fonts.googleapis.com/css?family=Nobile);

    
        /* Just container/placeholder rulesets - remove once in production */
        body {
            font-family: "Nobile";
            margin: 0 auto;
            line-height: 1.5;
            background: #e0e0e0;
        }

        /* desktop view start*/
        .container {
            background: #f0f0f0;
            /*position: relative;*/
            overflow: hidden;
            width: var(--container-width);
            height: var(--container-height);
            margin: 50px auto 0;
            box-shadow: 0 0 50px 10px #aaa;
        }
        /* desktop view end */

        /* content start */
        .content {
            padding: 40px 5% 20px;
            text-align: justify;
            max-height: 100%;
            color: #333;
            overflow-y: scroll;
        }

        .content img {
            width: 100%;
            position: relative;
            display: block;
            margin: 40px auto 30px;
        }

        /* content end */
